loki-stack:
  loki:
    serviceMonitor:
      enabled: true
    config:
      limits_config:
        max_entries_limit_per_query: 0
        retention_period: 60d
      table_manager:
        retention_deletes_enabled: true
        retention_period: 60d
      compactor:
        retention_enabled: true
        delete_request_cancel_period: 10m
        retention_delete_delay: 10m
    persistence:
      enabled: true
      accessModes:
      - ReadWriteMany
      size: 50Gi
      storageClassName: freenas-nfs-csi
    rbac:
      pspEnabled: false
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: loki.zanelab.com
          paths:
          - path: /
            pathType: Prefix
      tls:
        - hosts:
          - loki.zanelab.com
          secretName: loki-tls-certificate
  replicas: 2


  promtail:
    serviceMonitor:
      enabled: true
    config:
      snippets:
        extraScrapeConfigs: |
          # Add an additional scrape config for syslog
          - job_name: journal
            journal:
              path: /var/log/journal
              max_age: 12h
              labels:
                job: systemd-journal
            relabel_configs:
              - source_labels:
                  - '__journal__systemd_unit'
                target_label: 'unit'
              - source_labels:
                  - '__journal__hostname'
                target_label: 'hostname'

    # Mount journal directory into promtail pods
    extraVolumes:
      - name: journal
        hostPath:
          path: /var/log/journal

    extraVolumeMounts:
      - name: journal
        mountPath: /var/log/journal
        readOnly: true