cloudflared:
  image:
    repository: cloudflare/cloudflared
    tags: 2023.3.1
  credentials:
    existingSecret: cloudflared-credentials
  config:
    tunnel: homelab-prod
    ingress:
      # It is safe to put a wildcard here
      # Please see https://homelab.zanelab.com/reference/faq.html#is-it-safe-to-use-wildcard-in-cloudflare-tunnel-ingress-config
      - hostname: '*.zanelab.com'
        service: https://ingress-nginx-controller.ingress-nginx
        originRequest:
          noTLSVerify: true
      - service: http_status:404

  podMonitor:
    enabled: true
    metricsEndpoints:
      - port: http
