home-assistant:
  image:
    repository: ghcr.io/home-assistant/home-assistant
    tag: "2024.8"
  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host ha.zanelab.com
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: home-assistant-tls-certificate
          hosts:
            - *host
  persistence:
    configmap:
      enabled: true
      type: custom
      volumeSpec:
        configMap:
          name: home-assistant-config
      subPath:
        - path: configuration.yaml
          mountPath: /config/configuration.yaml
    pvc:
      enabled: true
      type: pvc
      accessMode: ReadWriteOnce
      size: 8Gi
      mountPath: /config
      readOnly: false
      storageClass: longhorn

  configmap:
    config:
      enabled: true
      data:
        configuration.yaml: |
          # Loads default set of integrations. Do not remove.
          default_config:

          # Text to speech
          tts:
            - platform: google_translate

          # automation: !include automations.yaml
          # script: !include scripts.yaml
          # scene: !include scenes.yaml
          http:
            use_x_forwarded_for: true
            trusted_proxies:
            # Pod CIDR
            - 10.42.0.0/24
            - 10.42.1.0/24
            - 10.42.2.0/24
            - 10.42.3.0/24
            # Node CIDR
            - 10.0.1.0/24
          prometheus:
            namespace: hass
