postgresql:
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 16.3.0-debian-12-r23
  auth:
    existingSecret: postgres-secret
  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 8Gi
