esphome:
  image:
    repository: esphome/esphome
    tag: "2024.7"
  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host esphome.zanelab.com
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: esphome-tls-certificate
          hosts:
            - *host
  env:
    DISABLE_HA_AUTHENTICATION: true
    ESPHOME_DASHBOARD_USE_PING: true

  persistence:
    pvc:
      enabled: true
      type: pvc
      accessMode: ReadWriteOnce
      size: 5Gi
      mountPath: /config
      readOnly: false
      storageClass: longhorn
      # pvc:
      #   enabled: true
      #   type: pvc
      #   accessMode: ReadWriteOnce
      #   size: 5Gi
      #   mountPath: /config
      #   readOnly: false
      #   storageClass: longhorn
      #   existingClaim: esphome2-pvc
  
  controller:
    replicas: 1