woodpecker:
  agent:
    image:
      registry: docker.io
      repository: woodpeckerci/woodpecker-agent
      tag: v3.12.0
  server:
    image:
      registry: docker.io
      repository: woodpeckerci/woodpecker-server
      tag: v3.12.0

    env:
      WOODPECKER_GITEA: TRUE
      WOODPECKER_GITEA_URL: https://git.zanelab.com
      WOODPECKER_GITEA_CLIENT: 8c05ce54-ca95-4316-b351-6bfb23917397
      WOODPECKER_HOST: https://woodpecker.zanelab.com
      WOODPECKER_ADMIN: zhala

    extraSecretNamesForEnvFrom:
      - woodpecker-es
    
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:  
        - host: woodpecker.zanelab.com
          paths:
            - path: /
      tls:
        - secretName: woodpecker-tls-certificate
          hosts:
            - woodpecker.zanelab.com