ingress-nginx:
  controller:
    admissionWebhooks:
      timeoutSeconds: 30
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    replicaCount: 2
  tcp:
    22: gitea/gitea-ssh:22
